@media (max-width: 1024px) {

  .wrap {
    width: 100%
  }

  .hero-content-align-center {

    .hero-content {
      min-width: 70%;
    }
  }

  .hero-height-full,
  .hero-height-full .slick-slide,
  .hero-height-full .hero-slide-inner {
    min-height: 0px;
    height: calc(100vh - 4rem);
  }

  .module-width-1,
  .module-width-2,
  .module-width-3,
  .module-width-4,
  .module-width-5,
  .module-width-6,
  .module-width-7,
  .module-width-8,
  .module-width-9 {
    width: 50%;
  }
  .module-width-10,
  .module-width-11,
  .module-width-12 {
    width: 100%;
  }

  .hero-title-only {
    text-align: center;
  }

  .module-issue-single,
  .module-article-single {
    min-width: 48%;
  }

  .news-index .module-article-single {
    @include grid(space-between);
    width: 100%;

    .module-article-image {
      width: 50%;
      padding-top: 28.125%;
      margin-right: 1.5rem;
    }

    .module-article-content {
      width: 50%;
      padding-left: 1.5rem;
      text-align: left;
    }
  }

  .module-issues-wrap,
  .module-articles-grid {
    @include grid(space-between, stretch, row, wrap);

    .module-article-single {
      margin-bottom: 2rem;
    }
  }

  .module-content {
    min-width: 75%;
  }

  .issue-content {
    padding-left: 2rem;

    .wp-post-image {
      margin: 3rem 2rem 1rem 0;
      width: 50%;
    }
  }


  .issues-layout-tiled {

    .issue-archive-single {
      width: 47%;
    }
  }

  .article-single-wrap {
    width: 100%;
    padding: 0 2rem;
  }
}
